nav {
  width: 100vw;
  height: 5rem;
  display: flex;  
}

nav > ul {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

a:hover {
  color: #fff;
  text-shadow: 0 0 5px #9f059f;
  text-decoration: underline;
}